[submodule "Thirdparty/LibStuff"]
	path = Thirdparty/LibStuff
	url = https://github.com/xor-shift/LibStuff
[submodule "Thirdparty/P256-Cortex-M4"]
	path = Thirdparty/P256-Cortex-M4
	url = https://github.com/xor-shift/P256-Cortex-M4
[submodule "Thirdparty/scnlib"]
	path = Thirdparty/scnlib
	url = https://github.com/cjvaughter/scnlib/
	branch = sandbox
[submodule "Thirdparty/FreeRTOS-POSIX"]
	path = Thirdparty/FreeRTOS-POSIX
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX
