[submodule "Thirdparty/LibStuff"]
	path = Thirdparty/LibStuff
	url = https://github.com/xor-shift/LibStuff
[submodule "Thirdparty/P256-Cortex-M4"]
	path = Thirdparty/P256-Cortex-M4
	url = https://github.com/xor-shift/P256-Cortex-M4
